<br>
<br>
<mat-card class="my-card">
    <br>
    <!--<mat-card-content>{{ content }}</mat-card-content>-->
    <b> MIND
    </b>
    <br><br>
</mat-card>
<br>
<br>

<mat-card class="my-card">
    <!--<mat-card-content>{{ content }}</mat-card-content>-->
   
    <b> Are you a new user?</b><br>
    <a matLine routerLink="/register" md-colors="::::"><b>REGISTER HERE</b></a>
    <br>
    <br>
    <b> Already registered? </b> <br>
    <a matLine routerLink="/login" md-colors="::::"><b>LOG IN HERE</b></a>
    <br>
    <br>
</mat-card>